# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install (and update) dependencies with
# `pip install -U -r requirements.txt`
pip
torch
snntorch
ipykernel
matplotlib
seaborn
numpy
pandas
jinja2
prompt-toolkit
ipython
jupyter_server
jupyter
jupyterlab-git
jupyter_contrib_nbextensions
nbconvert
jupyterlab
ipynb
optuna
optuna-dashboard
tqdm
plotly
torch_optimizer
scipy
statsmodels
scikit-learn