# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install (and update) dependencies with
# `pip install -U -r requirements.txt`
pip
ruff
seaborn
cmocean
matplotlib
numpy
jupyter
ipywidgets
pandas
# brian2
# pyNN